// Fonts

@font-face {
    font-family: 'arial_blackregular';
    src: url('../assets/fonts/arial_black-webfont.woff2') format('woff2'),
         url('../assets/fonts/arial_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}