// Fonts

@font-face {
    font-family: 'suisse_jumex_regular', Arial, sans-serif;
    src: font-url('suisse_jumex/suissejumex-regular-webfont.eot');
    src: font-url('suisse_jumex/suissejumex-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('suisse_jumex/suissejumex-regular-webfont.woff2') format('woff2'),
         font-url('suisse_jumex/suissejumex-regular-webfont.woff') format('woff'),
         font-url('suisse_jumex/suissejumex-regular-webfont.svg#suisse_jumexregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'suisse_bp_mono_regular', Arial, sans-serif;
    src: font-url('suisse_mono/suissebpmono-regular-webfont.eot');
    src: font-url('suisse_mono/suissebpmono-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('suisse_mono/suissebpmono-regular-webfont.woff2') format('woff2'),
         font-url('suisse_mono/suissebpmono-regular-webfont.woff') format('woff'),
         font-url('suisse_mono/suissebpmono-regular-webfont.svg#suisse_bp_monoregular') format('svg');
    font-weight: normal;
    font-style: mono;

}