.homepage--overlay {
  display: none;
  @include breakpoint(sm) {
    display: inline-block;
    min-height: 80vh;
    width: 100vw;
    background-color: #FFA10D;
    z-index: 1;
    position:fixed;
    left:0px;
    right:0px;
    top:-80vh;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  &.active {
    top: 0vh;
  }
}

.homepage--overlay__post-content {
  @include font--title;
  margin-top: 125px;
}

